.places__container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 80px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, minmax(min-content, max-content));
  grid-auto-rows: 1fr;
}

@media screen and (max-width: 1023px) {
  .places__container {
    grid-gap: 72px;
  }
}

@media screen and (max-width: 424px) {
  .places__container {
    grid-gap: 48px;
  }
}
