.lead__image {
  width: 100%;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 1023px) {
  .lead__image {
    width: calc(100% + 2*24px); /* depends on section's horizontal padding */
    margin-left: -24px;
  }
}

@media screen and (max-width: 424px) {
  .lead__image {
    width: calc(100% + 2*16px); /* depends on section's horizontal padding */
    margin-left: -16px;
  }
}
